<h3>Ajouter une matière</h3>
<p>Penser a securiser les routes !</p>
<p>Using form of symfony mieux</p>


{{ form_start(formAddMatiere) }}
{{ form_widget(formAddMatiere) }}
{{ form_end(formAddMatiere) }}
<br>
<a href="{{ path('matiere')}}">Retour</a>