<h3>Modifier une matière</h3>

{{ form_start(formEditMatiere) }}
{{ form_widget(formEditMatiere) }}
{{ form_end(formEditMatiere) }}

{{ successMessage }}
<br>
<a href="/matiere">Retour table des matières</a>